
#search{
    padding:80px 0 30px;
    overflow:visible;
    margin: 0 auto;
    height: auto;
}

.error{
    margin-top: 120px;
    padding:120px 0 30px;
    font-family: 'Jost', sans-serif;
    font-size: 50px;
}

.movie-card{
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
    margin: 20px 0;
}

.movie-card img{
    width:120px;
}

.movie-results{
    width:1200px;
    margin: 120px auto;
}

.wran_wrap{
    height: 100vh;
    text-align: center;
}
